extends layout.pug 

block content 
  .mx-3
    .row 
      .col.align-self-start
      .col.align-self-center
        h1.text-center Topics
      .col.align-self-end.text-end
        a.btn.btn-primary(href="/new-topic") New Topic
  .card.m-3
    ul.list-group.list-group-flush
      each topic in topics
        - var topicName = topic.topic;
        a.list-group-item.list-group-item-action(href="/topics/" + topicName)= topic.topic